                    <div class="m-0">
                      <div class="rich-grid-renderer-header rich-grid-sticky-header">
                        <ytm-feed-filter-chip-bar-renderer id="filter-chip-bar" class="chip-bar">
                          <div class="chip-bar-contents" role="tablist">
                            <ytm-chip-cloud-chip-renderer class="selected all-chip-renderer" aria-selected="true" chip-style="STYLE_HOME_FILTER" role="tab">
                              <div class="chip-container" tabindex="1" aria-label="KARAOKE"><span class="chip-text modern"><span class="yt-core-attributed-string" role="text"><span class="mr-2"><i class="ld ld-Karaoke" style="font-size:1rem;vertical-align:-0.175em;width:1rem;height:1rem;box-sizing:content-box"></i></span>Karaoke</span></span></div>
                            </ytm-chip-cloud-chip-renderer>
                            <ytm-chip-cloud-chip-renderer aria-selected="false" chip-style="STYLE_HOME_FILTER" role="tab">
                              <div class="chip-container" tabindex="1" aria-label="KARAOKE TONE NAME"><span class="chip-text modern"><span class="yt-core-attributed-string" role="text"><span class="mr-2"><i class="ld ld-Male" style="font-size:1rem;vertical-align:-0.175em;width:1rem;height:1rem;box-sizing:content-box"></i></span>Tone nam</span></span></div>
                            </ytm-chip-cloud-chip-renderer>
                            <ytm-chip-cloud-chip-renderer aria-selected="false" chip-style="STYLE_HOME_FILTER" role="tab">
                              <div class="chip-container" tabindex="1" aria-label="KARAOKE TONE NỮ"><span class="chip-text modern"><span class="yt-core-attributed-string" role="text"><span class="mr-2"><i class="ld ld-Female" style="font-size:1rem;vertical-align:-0.175em;width:1rem;height:1rem;box-sizing:content-box"></i></span>Tone nữ</span></span></div>
                            </ytm-chip-cloud-chip-renderer>
                            <ytm-chip-cloud-chip-renderer aria-selected="false" chip-style="STYLE_HOME_FILTER" role="tab">
                              <div class="chip-container" tabindex="1" aria-label="KARAOKE SONG CA"><span class="chip-text modern"><span class="yt-core-attributed-string" role="text"><span class="mr-2"><i class="ld ld-Two" style="font-size:1rem;vertical-align:-0.175em;width:1rem;height:1rem;box-sizing:content-box"></i></span>Song ca</span></span></div>
                            </ytm-chip-cloud-chip-renderer>
                            <ytm-chip-cloud-chip-renderer aria-selected="false" chip-style="STYLE_HOME_FILTER" role="tab">
                              <div class="chip-container" tabindex="1" aria-label="TẤT CẢ"><span class="chip-text modern"><span class="yt-core-attributed-string" role="text"><span class="mr-2"><i class="ld ld-All" style="font-size:1rem;vertical-align:-0.175em;width:1rem;height:1rem;box-sizing:content-box"></i></span>Tất cả</span></span></div>
                            </ytm-chip-cloud-chip-renderer>
                          </div>
                        </ytm-feed-filter-chip-bar-renderer>
                      </div>
                    </div>
