<div class="m-0">
  <div class="rich-grid-renderer-header rich-grid-sticky-header">
    <ytm-feed-filter-chip-bar-renderer id="filter-chip-bar" class="chip-bar">
      <div class="chip-bar-contents" role="tablist">
        <ytm-chip-cloud-chip-renderer class="more-drawer" aria-selected="false" chip-style="STYLE_EXPLORE_LAUNCHER_CHIP" role="tab">
          <div class="chip-container" tabindex="1" aria-label="KHÁM PHÁ">
            <c3-icon class="w-6 h-6">
              <span class="yt-icon-shape yt-spec-icon-shape">
                <div style="width: 100%; height: 100%; display: block; fill: currentcolor;">
                  <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 16 16" height="16" viewBox="0 0 16 16" width="16" focusable="false" aria-hidden="true" style="pointer-events: none; display: inherit; width: 100%; height: 100%;">
                    <path d="M15.25 8a.75.75 0 0 1-.75.75H8.75v5.75a.75.75 0 0 1-1.5 0V8.75H1.5a.75.75 0 0 1 0-1.5h5.75V1.5a.75.75 0 0 1 1.5 0v5.75h5.75a.75.75 0 0 1 .75.75z"></path>
                  </svg>
                </div>
              </span>
            </c3-icon>
          </div>
        </ytm-chip-cloud-chip-renderer>
        <ytm-chip-cloud-chip-renderer class="selected all-chip-renderer" aria-selected="true" chip-style="STYLE_HOME_FILTER" role="tab">
          <div class="chip-container" tabindex="1" aria-label="TẤT CẢ"><span class="chip-text modern"><span class="yt-core-attributed-string font-saomaiHeading" role="text">TẤT CẢ</span></span></div>
        </ytm-chip-cloud-chip-renderer>
        <ytm-chip-cloud-chip-renderer aria-selected="false" chip-style="STYLE_REFRESH_TO_NOVEL_CHIP" role="tab">
          <div class="chip-container" tabindex="1" aria-label="KARAOKE"><span class="chip-text modern"><span class="yt-core-attributed-string font-saomaiHeading" role="text">KARAOKE</span></span></div>
        </ytm-chip-cloud-chip-renderer>
        <ytm-chip-cloud-chip-renderer aria-selected="false" chip-style="STYLE_HOME_FILTER" role="tab">
          <div class="chip-container" tabindex="1" aria-label="TONE NAME"><span class="chip-text modern"><span class="yt-core-attributed-string font-saomaiHeading" role="text">TONE NAME</span></span></div>
        </ytm-chip-cloud-chip-renderer>
        <ytm-chip-cloud-chip-renderer aria-selected="false" chip-style="STYLE_HOME_FILTER" role="tab">
          <div class="chip-container" tabindex="1" aria-label="TONE NỮ"><span class="chip-text modern"><span class="yt-core-attributed-string font-saomaiHeading" role="text">TONE NỮ</span></span></div>
        </ytm-chip-cloud-chip-renderer>
        <ytm-chip-cloud-chip-renderer aria-selected="false" chip-style="STYLE_HOME_FILTER" role="tab">
          <div class="chip-container" tabindex="1" aria-label="REMIX"><span class="chip-text modern"><span class="yt-core-attributed-string font-saomaiHeading" role="text">NHẠC REMIX</span></span></div>
        </ytm-chip-cloud-chip-renderer>
        <ytm-chip-cloud-chip-renderer aria-selected="false" chip-style="STYLE_HOME_FILTER" role="tab">
          <div class="chip-container" tabindex="1" aria-label="LIÊN KHÚC"><span class="chip-text modern"><span class="yt-core-attributed-string font-saomaiHeading" role="text">LIÊN KHÚC</span></span></div>
        </ytm-chip-cloud-chip-renderer>
      </div>
    </ytm-feed-filter-chip-bar-renderer>
  </div>
</div>
