                    <div class="m-0">
                      <div class="rich-grid-renderer-header rich-grid-sticky-header">
                        <ytm-feed-filter-chip-bar-renderer id="filter-chip-bar" class="chip-bar">
                          <div class="chip-bar-contents" role="tablist">
                            <div>
                              <div class="bewvKb DUDfsf">
                                <div class="aoJE7e rE4BKe" role="list">
                                  <div class="ULeU3b" aria-selected="true" role="listitem">
                                    <button class="D3Qfie VfPpkd-ksKsZd-XxIAqe KKjvXb kofMvc EFMXQ" aria-label="KARAOKE" aria-current="true">
                                      <div class="Gggmbb" aria-hidden="true"></div>
                                      <div class="kW9Bj" aria-hidden="true">
                                        <span class="c6xzBd"><i class="google-material-icons Ka7T4c" aria-hidden="true">desktop_windows</i></span>
                                        <span class="ypTNYd">Karaoke</span>
                                      </div>
                                    </button>
                                  </div>
                                  <div class="ULeU3b" aria-selected="false" role="listitem">
                                    <button class="D3Qfie VfPpkd-ksKsZd-XxIAqe kofMvc EFMXQ" aria-label="KARAOKE TONE NAM">
                                      <div class="Gggmbb" aria-hidden="true"></div>
                                      <div class="kW9Bj" aria-hidden="true">
                                        <span class="c6xzBd"><i class="google-material-icons Ka7T4c" aria-hidden="true">phone_android</i></span>
                                        <span class="ypTNYd">Tone nam</span>
                                      </div>
                                    </button>
                                  </div>
                                  <div class="ULeU3b" aria-selected="false" role="listitem">
                                    <button class="D3Qfie VfPpkd-ksKsZd-XxIAqe kofMvc EFMXQ" aria-label="KARAOKE TONE NỮ">
                                      <div class="Gggmbb" aria-hidden="true"></div>
                                      <div class="kW9Bj" aria-hidden="true">
                                        <span class="c6xzBd"><i class="google-material-icons Ka7T4c" aria-hidden="true">tablet_android</i></span>
                                        <span class="ypTNYd">Tone nữ</span>
                                      </div>
                                    </button>
                                  </div>
                                  <div class="ULeU3b" aria-selected="false" role="listitem">
                                    <button class="D3Qfie VfPpkd-ksKsZd-XxIAqe kofMvc EFMXQ" aria-label="KARAOKE SONG CA">
                                      <div class="Gggmbb" aria-hidden="true"></div>
                                      <div class="kW9Bj" aria-hidden="true">
                                        <span class="c6xzBd"><i class="google-material-icons Ka7T4c" aria-hidden="true">tv</i></span>
                                        <span class="ypTNYd">Song ca</span>
                                      </div>
                                    </button>
                                  </div>
                                  <div class="ULeU3b" aria-selected="false" role="listitem">
                                    <button class="D3Qfie VfPpkd-ksKsZd-XxIAqe kofMvc EFMXQ" aria-label="TẤT CẢ">
                                      <div class="Gggmbb" aria-hidden="true"></div>
                                      <div class="kW9Bj" aria-hidden="true">
                                        <span class="c6xzBd"><i class="google-material-icons Ka7T4c" aria-hidden="true">laptop_chromebook</i></span>
                                        <span class="ypTNYd">Tất cả</span>
                                      </div>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ytm-feed-filter-chip-bar-renderer>
                      </div>
                    </div>
