<ytm-mobile-topbar-renderer id="header-bar" class="sticky-player">
  <header class="mobile-topbar-header cbox" data-mode="searching" aria-modal="true" role="dialog">
    <button class="mobile-topbar-back-arrow" aria-label="Đóng tìm kiếm">
      <c3-icon>
        <span class="yt-icon-shape yt-spec-icon-shape">
          <div style="width: 100%; height: 100%; display: block; fill: currentcolor;">
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" focusable="false" aria-hidden="true" style="pointer-events: none; display: inherit; width: 100%; height: 100%;">
              <path d="M13.414 3.5a.999.999 0 0 0-1.707-.707l-9.207 9.2 9.207 9.202a1 1 0 1 0 1.414-1.413L6.335 13H20.5a1 1 0 0 0 0-2H6.322l6.799-6.794a.999.999 0 0 0 .293-.707z"></path>
            </svg>
          </div>
        </span>
      </c3-icon>
    </button>
    <yt-searchbox role="search" client-ve-type="10349" class="YtSearchboxComponentHost YtSearchboxComponentMweb">
      <div class="YtSearchboxComponentInputBox">
      <form action="/results" class="YtSearchboxComponentSearchForm" onsubmit="event.preventDefault(); searchVideos();">
        <input name="search_query" type="text" autocomplete="off" autocorrect="off" class="YtSearchboxComponentInput yt-searchbox-input title" 
          placeholder="Tìm kiếm" id="search" 
          value="" 
          onkeydown="if(event.key === 'Enter') { 
            event.preventDefault();
            const query = document.getElementById('search').value.trim();
            if (query) {
              searchVideos();
            } else {
              alert('Vui lòng nhập tên bài hát');
            }
          }">
      </form>
      </div>
      <button aria-label="Tìm kiếm" class="YtSearchboxComponentSearchButton" title="Tìm trên YouTube">
        <c3-icon>
          <span class="yt-icon-shape yt-spec-icon-shape">
            <div style="width: 100%; height: 100%; display: block; fill: currentcolor;">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="24" viewBox="0 0 24 24" width="24" focusable="false" aria-hidden="true" style="pointer-events: none; display: inherit; width: 100%; height: 100%;">
                <path clip-rule="evenodd" d="M10.533 1.27893C5.35215 1.27893 1.12598 5.41887 1.12598 10.5579C1.12598 15.697 5.35215 19.8369 10.533 19.8369C12.767 19.8369 14.8235 19.0671 16.4402 17.7794L20.7929 22.132C21.1834 22.5226 21.8166 22.5226 22.2071 22.132C22.5976 21.7415 22.5976 21.1083 22.2071 20.7178L17.8634 16.3741C19.1616 14.7849 19.94 12.7634 19.94 10.5579C19.94 5.41887 15.7138 1.27893 10.533 1.27893ZM3.12598 10.5579C3.12598 6.55226 6.42768 3.27893 10.533 3.27893C14.6383 3.27893 17.94 6.55226 17.94 10.5579C17.94 14.5636 14.6383 17.8369 10.533 17.8369C6.42768 17.8369 3.12598 14.5636 3.12598 10.5579Z" fill-rule="evenodd"></path>
              </svg>
            </div>
          </span>
        </c3-icon>
      </button>
      <div class="YtSearchboxComponentVoiceSearchWrapper">
        <ytm-button-renderer class="icon-microphone_on">
          <button class="yt-spec-button-shape-next yt-spec-button-shape-next--text yt-spec-button-shape-next--mono yt-spec-button-shape-next--size-m yt-spec-button-shape-next--icon-only-default yt-spec-button-shape-next--enable-backdrop-filter-experiment" aria-label="Tìm kiếm bằng giọng nói" title="" style="">
            <div class="yt-spec-button-shape-next__icon" aria-hidden="true">
              <c3-icon>
                <span class="yt-icon-shape yt-spec-icon-shape">
                  <div style="width: 100%; height: 100%; display: block; fill: currentcolor;">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" focusable="false" aria-hidden="true" style="pointer-events: none; display: inherit; width: 100%; height: 100%;">
                      <path d="M12 3c-1.66 0-3 1.37-3 3.07v5.86c0 1.7 1.34 3.07 3 3.07s3-1.37 3-3.07V6.07C15 4.37 13.66 3 12 3zm6.5 9h-1c0 3.03-2.47 5.5-5.5 5.5S6.5 15.03 6.5 12h-1c0 3.24 2.39 5.93 5.5 6.41V21h2v-2.59c3.11-.48 5.5-3.17 5.5-6.41z"></path>
                    </svg>
                  </div>
                </span>
              </c3-icon>
            </div>
          </button>
        </ytm-button-renderer>
      </div>
    </yt-searchbox>
    <div class="mobile-topbar-header-content non-search-mode cbox"></div>
  </header>
</ytm-mobile-topbar-renderer>
<script>
    $(document).ready(function() {
        $('#search').on('input', function() {
            $('.clear-button').remove();
            if ($(this).val().trim() !== '') {
                const clearButton = `
                    <button class="box-border tap-highlight-transparent bg-transparent border-0 rounded-full cursor-pointer absolute text-center no-underline text-normal touch-manipulation transition-duration-33 transition-all user-select-none vertical-align-middle  color-subdued min-inline-size-0 inline-flex items-center justify-center right-3 color-black top-1-2 -translate-y-1-2 overflow-wrap-anywhere clear-button" style="-webkit-transform: translateY(-50%);transform: translateY(-50%);"
                            data-testid="search-input-clear-button" 
                            aria-label="Clear search field" 
                            data-encore-id="buttonTertiary">
                        <span aria-hidden="true" class="flex">
                            <svg data-encore-id="icon" role="img" aria-hidden="true" viewBox="0 0 16 16" class="w-4 h-4 fill-current">
                                <path d="M2.47 2.47a.75.75 0 0 1 1.06 0L8 6.94l4.47-4.47a.75.75 0 1 1 1.06 1.06L9.06 8l4.47 4.47a.75.75 0 1 1-1.06 1.06L8 9.06l-4.47 4.47a.75.75 0 0 1-1.06-1.06L6.94 8 2.47 3.53a.75.75 0 0 1 0-1.06Z"></path>
                            </svg>
                        </span>
                    </button>
                `;
                $(this).after(clearButton);
            }
        });

        $(document).on('click', '.clear-button', function() {
            $('#search').val('');
            $(this).remove();
        });
    });
</script>
<script>
  $(document).ready(function() {
    const $search = $('#search');
    const $clearSearch = $('#clearSearch');

    $search.on('input', function() {
      $clearSearch.toggle($(this).val().length > 0);
    });

    $clearSearch.on('click', function() {
      $search.val('').trigger('input');
    });
  });

  const supabaseClient = supabase.createClient('https://wndajplczagmlxbvkmtk.supabase.co', 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InduZGFqcGxjemFnbWx4YnZrbXRrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjgwMTUzNDcsImV4cCI6MjA0MzU5MTM0N30.1ffeOEC-jOQtar3tgD8OPBUeyK79itCPYmBe3_k08MA');

  function searchVideos() {
      const query = $('#search').val();
      const apiKey = 'AIzaSyDXo9tP0rycwrE4tpXokP1AggTRP7Zt2B4';
      const url = `https://www.googleapis.com/youtube/v3/search?part=snippet&maxResults=24&q=${query}&type=video&key=${apiKey}`;
  
      $.getJSON(url, function(data) {
          $('#videoList').empty();
          const wrapper = $('<div id="list" class="w-full h-full"></div>');
          $('#videoList').append(wrapper);
          if (!data.items.length) {
              return alert('Không tìm thấy video nào.');
          }
  
          const videoIds = data.items.map(item => item.id.videoId).join(',');
          const videoDetailsUrl = `https://www.googleapis.com/youtube/v3/videos?part=contentDetails,statistics&id=${videoIds}&key=${apiKey}`;
  
          $.getJSON(videoDetailsUrl, function(videoDetailsData) {
              data.items.forEach((item, index) => {
                  const { videoId } = item.id;
                  const title = item.snippet.title;
                  const channelTitle = item.snippet.channelTitle;
                  const thumbnailUrl = item.snippet.thumbnails.maxres?.url || item.snippet.thumbnails.high?.url || item.snippet.thumbnails.default.url;
                  const channelThumbnailUrl = item.snippet.thumbnails.default.url;
                  const publishedAt = item.snippet.publishedAt;
                  const viewCount = videoDetailsData.items[index].statistics.viewCount;
                  const duration = formatDuration(videoDetailsData.items[index].contentDetails.duration);
  
                  const videoItem = $(`
                      <div class="cursor-pointer flex w-full flex-col mb-6" onclick="handleSongSelection('${videoId}', '${title}')">
                          <div class="relative video-thumbnail-container-large center block m-0 p-0">
                              <div class="cover video-thumbnail-img video-thumbnail-bg"></div>
                              <img src="${thumbnailUrl}" class="w-full h-full cover object-cover" />
                              <div class="absolute bottom-0 right-0 m-2">
                                  <div class="badge">${duration}</div>
                              </div>
                          </div>
                          <div class="details">
                            <div class="media-channel">
                              <icon class="channel-thumbnail-icon YtProfileIconHost" aria-hidden="false">
                                <img alt="Truy cập kênh" class="YtProfileIconImage" src="${channelThumbnailUrl}">
                              </icon>
                            </div>
                            <div class="media-item-info cbox">
                              <div class="media-item-metadata">
                                <h3 class="mb-1"><span class="text-black font-bold line-clamp-2 leading-5" style="color:#0f0f0f;">${title}</span></h3>
                                <span class="text-gray-400 text-xs" style="color:#606060">${channelTitle} • ${formatViews(viewCount)} • ${formatDate(publishedAt)}</span>
                              </div>
                              <menu-renderer class="media-item-menu">
                                <menu>
                                  <button class="icon-button text-white" aria-label="Menu" aria-haspopup="true">
                                    <c3-icon style="">
                                      <span class="yt-icon-shape yt-spec-icon-shape">
                                        <div style="width: 100%; height: 100%; display: block; fill: currentcolor;">
                                          <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" focusable="false" aria-hidden="true" style="pointer-events: none; display: inherit; width: 100%; height: 100%;">
                                            <path d="M10.5 4.5a1.5 1.5 0 1 0 3 0 1.5 1.5 0 0 0-3 0zm0 15a1.5 1.5 0 1 0 3 0 1.5 1.5 0 0 0-3 0zm0-7.5a1.5 1.5 0 1 0 3 0 1.5 1.5 0 0 0-3 0z"></path>
                                          </svg>
                                        </div>
                                      </span>
                                    </c3-icon>
                                  </button>
                                </menu>
                              </menu-renderer>
                            </div>
                          </div>
                      </div>
                  `);
                $('#list').append(videoItem);
              });
          });
      });
  }

  function handleSongSelection(videoId, title) {
    const name = prompt("Nhập tên của bạn:");
    if (name) {
      saveSong(videoId, title, name).then(() => {
        window.location.href = '/songs';
      }).catch(() => {
        alert("Đã xảy ra lỗi khi lưu thông tin. Vui lòng thử lại.");
      });
    }
  }

  function saveSong(videoId, songName, name) {
    return supabaseClient.from('karaoke_songs').insert([{ video_id: videoId, song_name: songName, name: name }]);
  }

  function formatDate(dateString) {
    const date = new Date(dateString);
    const now = new Date();
    const diffInSeconds = Math.floor((now - date) / 1000);
    
    const secondsInMinute = 60;
    const secondsInHour = secondsInMinute * 60;
    const secondsInDay = secondsInHour * 24;
    const secondsInWeek = secondsInDay * 7;
    const secondsInYear = secondsInDay * 365;
  
    if (diffInSeconds < secondsInMinute) {
      return 'Vừa xong';
    } else if (diffInSeconds < secondsInHour) {
      const minutes = Math.floor(diffInSeconds / secondsInMinute);
      return `${minutes} phút trước`;
    } else if (diffInSeconds < secondsInDay) {
      const hours = Math.floor(diffInSeconds / secondsInHour);
      return `${hours} giờ trước`;
    } else if (diffInSeconds < secondsInWeek) {
      const days = Math.floor(diffInSeconds / secondsInDay);
      return `${days} ngày trước`;
    } else if (diffInSeconds < secondsInYear) {
      const weeks = Math.floor(diffInSeconds / secondsInWeek);
      return `${weeks} tuần trước`;
    } else {
      const years = Math.floor(diffInSeconds / secondsInYear);
      return `${years} năm trước`;
    }
  }

  function formatViews(views) {
    return views > 1000000 ? (views / 1000000).toFixed(1) + ' Tr lượt xem' : views > 1000 ? (views / 1000).toFixed(1) + ' N lượt xem' : views + ' lượt xem';
  }

  function formatDuration(duration) {
    const match = duration.match(/PT(\d+H)?(\d+M)?(\d+S)?/);
  
    if (!match) {
      return '00:00';
    }
  
    const hours = match[1] ? match[1].slice(0, -1) : '0';
    const minutes = match[2] ? match[2].slice(0, -1) : '0';
    const seconds = match[3] ? match[3].slice(0, -1) : '0';
  
    if (hours === '0') {
      return `${minutes.padStart(2, '0')}:${seconds.padStart(2, '0')}`;
    } else {
      return `${hours.padStart(2, '0')}:${minutes.padStart(2, '0')}:${seconds.padStart(2, '0')}`;
    }
  }
</script>
