<div>
  <div class="fixed inset-0 z-50">
    <div data-focus-guard="true" tabindex="0" style="width: 1px; height: 0px; padding: 0px; overflow: hidden; position: fixed; top: 1px; left: 1px;"></div>
    <div data-focus-lock-disabled="false" class="fixed inset-0 overflow-y-auto">
      <div class="fixed inset-y-0 left-0 w-full h-full flex items-end justify-center box-border pt-4 z-10">
        <div class="bg-white rounded-t-lg shadow-lg flex flex-col max-h-full max-w-4xl w-full" role="dialog" aria-labelledby="react-aria-fullName">
          <div class="flex flex-none flex-row-reverse items-start justify-between p-2">
            <button class="bg-transparent border-0 text-black cursor-pointer inline-block h-10 w-10 m-0" type="button" aria-label="Close dialog">
              <svg fill="currentColor" height="1em" viewBox="0 0 16 16" width="1em" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" style="font-size: 1.5rem; vertical-align: -0.25em;">
                <path fill-rule="evenodd" d="M3.05 3.05a.5.5 0 0 1 .707 0L8 7.293l4.243-4.243a.5.5 0 0 1 .707.707L8.707 8l4.243 4.243a.5.5 0 0 1-.707.707L8 8.707 3.757 12.95a.5.5 0 0 1-.707-.707L7.293 8 3.05 3.757a.5.5 0 0 1 0-.707Z"></path>
              </svg>
            </button>
            <h2 class="text-gray-800 flex-grow text-lg leading-6 m-2 pt-0 pl-10 text-center" id="react-aria-fullName">Edit full name</h2>
          </div>
          <div class="flex-1 overflow-y-auto">
            <div class="p-0 px-4 pb-4">
              <form id="edit-full-name-form" novalidate="">
                <span class="text-xs pb-1 text-gray-500">*Required fields</span>
                <div class="pb-2 relative w-full" name="firstName">
                  <label class="block h-2 relative z-10" for="account_first_name"><span class="bg-white box-border text-gray-500 inline-block text-base left-3 leading-6 absolute top-0 transform scale-75 origin-top-left transition-transform duration-100 ease-[cubic-bezier(0.77,0,0.175,1)] px-1">First name*</span></label>
                  <div class="flex items-center bg-white rounded-md shadow-inner border border-gray-400"><input id="account_first_name" autocomplete="given-name" maxlength="25" name="firstName" class="appearance-none bg-transparent border-0 box-border text-black flex-1 text-base leading-6 m-0 min-w-0 p-4" value="Vietnam"></div>
                </div>
                <div class="pb-2 relative w-full" name="lastName">
                  <label class="block h-2 relative z-10" for="account_last_name"><span class="bg-white box-border text-gray-500 inline-block text-base left-3 leading-6 absolute top-0 transform scale-75 origin-top-left transition-transform duration-100 ease-[cubic-bezier(0.77,0,0.175,1)] px-1">Last name*</span></label>
                  <div class="flex items-center bg-white rounded-md shadow-inner border border-gray-400"><input id="account_last_name" autocomplete="family-name" maxlength="25" name="lastName" class="appearance-none bg-transparent border-0 box-border text-black flex-1 text-base leading-6 m-0 min-w-0 p-4" value="Anamart"></div>
                </div>
                <div class="relative w-full" name="displayName">
                  <label class="block h-2 relative z-10" for="account_display_name"><span class="bg-white box-border text-gray-500 inline-block text-base left-3 leading-6 absolute top-0 transform scale-75 origin-top-left transition-transform duration-100 ease-[cubic-bezier(0.77,0,0.175,1)] px-1">Display name*</span></label>
                  <div class="flex items-center bg-white rounded-md shadow-inner border border-gray-400"><input id="account_display_name" autocomplete="display-name" maxlength="25" name="displayName" class="appearance-none bg-transparent border-0 box-border text-black flex-1 text-base leading-6 m-0 min-w-0 p-4" value="Anamart"></div>
                </div>
                <input type="hidden" name="vtcTimestamp" value="2024-10-16T20:03:07.942+0700">
              </form>
            </div>
          </div>
          <div class="border-t border-gray-200 flex-none flex justify-end p-4">
            <div class="text-center w-full flex flex-col">
              <button class="appearance-none bg-blue-600 text-white font-bold py-2.5 px-6 inline-flex justify-center items-center w-full rounded-full cursor-pointer transition-all duration-100 ease-[cubic-bezier(0.77,0,0.175,1)] whitespace-nowrap text-base leading-6 m-0" type="submit" form="edit-full-name-form">Save</button>
            </div>
          </div>
        </div>
      </div>
      <div class="w_WZe8 w_M4uH"></div>
    </div>
    <div data-focus-guard="true" tabindex="0" style="width: 1px; height: 0px; padding: 0px; overflow: hidden; position: fixed; top: 1px; left: 1px;"></div>
  </div>
</div>
