<script>
  $(document).ready(function() {
      function getCookie(name) {
          const value = `; ${document.cookie}`;
          const parts = value.split(`; ${name}=`);
          return parts.length === 2 ? parts.pop().split(';').shift() : null;
      }

      function createUserInfo() {
          return `
            <div id="userInfo">
              <div class="fixed inset-0 z-50">
                <div class="fixed inset-0 overflow-y-auto">
                  <div class="flex items-end justify-center h-full">
                    <div class="bg-white rounded-lg shadow-lg max-w-md w-full p-6">
                      <h2 class="text-gray-800 text-lg text-center mb-4">Thông tin của Quý khách</h2>
                      <form id="edit-full-name-form" novalidate="">
                        <span class="text-xs pb-1 text-gray-500">*Trường bắt buộc</span>
                        ${createInputField('title', 'Danh xưng*', 'honorific')}
                        ${createInputField('fullName', 'Tên quý khách*', 'full-name')}
                        ${createInputField('location', 'Địa chỉ', 'address')}
                        <span class="pt-2 leading-5 text-sm text-[#515357]">Xin vui lòng nhập tên của bạn để đăng ký hát Karaoke. Chúng tôi sẽ gọi tên bạn khi đến lượt.</span>
                        <button class="mt-4 w-full h-10 bg-blue-600 text-white font-bold rounded-full" type="submit">Lưu thông tin</button>
                      </form>
                    </div>
                  </div>
                  <div class="fixed inset-0 bg-black bg-opacity-25"></div>
                </div>
              </div>
            </div>
          `;
      }

      function createInputField(id, label, autocomplete) {
          return `
            <div class="flex mb-4">
              <div class="w-full" data-automation-id="${id}">
                <label class="block text-[#2e2f32] mb-1" for="${id}">
                  <span class="font-bold text-sm leading-5 text-[#2e2f32]">${label}</span>
                </label>
                <div class="bg-white rounded-md flex relative w-full shadow-inner">
                  <input autocomplete="${autocomplete}" id="${id}" type="text" maxlength="50" name="${id}" required aria-required="true" class="text-base leading-6 p-4 appearance-none bg-transparent border-0 text-gray-800 flex-grow font-normal m-0" value="">
                </div>
              </div>
            </div>
          `;
      }

      if (!getCookie('karaokeSaoMai')) {
          $('body').css('overflow', 'hidden');
          $('body').append(createUserInfo());
      }

      $('#edit-full-name-form').on('submit', function(event) {
          event.preventDefault();
          const title = $('#title').val();
          const fullName = $('#fullName').val();
          const location = $('#location').val();
          if (!fullName) {
              alert('Vui lòng nhập tên quý khách.');
              return;
          }

          const userInfo = { title, fullName, location };
          const userInfoJson = JSON.stringify(userInfo);
          setCookie('karaokeSaoMai', userInfoJson, 1);
          $('#userInfo').remove();
          $('body').removeAttr('style');
      });

      function setCookie(name, value, days) {
          const d = new Date();
          d.setTime(d.getTime() + (days * 24 * 60 * 60 * 1000));
          const expires = `expires=${d.toUTCString()}`;
          document.cookie = `${name}=${value}; ${expires}; path=/`;
      }
  });
</script>
