<div>
  <div class="fixed inset-0 z-50">
    <div data-focus-guard="true" tabindex="0" style="width: 1px; height: 0px; padding: 0px; overflow: hidden; position: fixed; top: 1px; left: 1px;"></div>
    <div data-focus-lock-disabled="false" class="fixed inset-0 overflow-y-auto">
      <div class="fixed inset-y-0 left-0 w-full h-full flex items-end justify-center box-border pt-4 z-10">
        <div class="bg-white rounded-t-lg shadow-lg flex flex-col max-h-full max-w-4xl w-full" role="dialog" aria-labelledby="react-aria-fullName">
          <div class="flex flex-none flex-row-reverse items-start justify-between p-2">
            <button class="bg-transparent border-0 text-black cursor-pointer inline-block h-10 w-10 m-0" type="button" aria-label="Close dialog">
              <svg fill="currentColor" height="1em" viewBox="0 0 16 16" width="1em" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" style="font-size: 1.5rem; vertical-align: -0.25em;">
                <path fill-rule="evenodd" d="M3.05 3.05a.5.5 0 0 1 .707 0L8 7.293l4.243-4.243a.5.5 0 0 1 .707.707L8.707 8l4.243 4.243a.5.5 0 0 1-.707.707L8 8.707 3.757 12.95a.5.5 0 0 1-.707-.707L7.293 8 3.05 3.757a.5.5 0 0 1 0-.707Z"></path>
              </svg>
            </button>
            <h2 class="text-gray-800 flex-grow text-lg leading-6 m-2 pt-0 pl-10 text-center" id="react-aria-fullName">Thông tin của Quý khách</h2>
          </div>
          <div class="flex-1 overflow-y-auto">
            <div class="p-0 px-4 pb-4">
              <form id="edit-full-name-form" novalidate="">
                <div class="flex mb-2">
                  <div class="w-full flex justify-between flex-row">
                    <div class="flex w-full">
                      <div class="w-full mr-0">
                        <label class="box-border text-[#2e2f32] block mb-1" for="province"><span class="font-bold text-sm leading-5 text-[#2e2f32] mb-0 mt-0">Danh xưng*</span></label>
                        <div class="bg-white rounded-md relative" style="box-shadow: inset 0 0 0 0.0625rem #909196;">
                          <select id="province" autocomplete="province" name="province" required="" aria-required="true" class="m-0 text-base font-normal text-gray-800 bg-transparent border-0 box-border w-full py-4 pl-4 pr-9 leading-6" style="text-transform:none;-webkit-appearance:none;">
                            <option value="ÔNG">Ông</option>
                            <option value="BÀ">Bà</option>
                            <option value="ANH">Anh</option>
                            <option value="CHỊ">Chị</option>
                            <option value="CÔ">Cô</option>
                            <option value="CHÚ">Chú</option>
                          </select>
                          <svg fill="currentColor" height="1em" viewBox="0 0 16 16" width="1em" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" class="absolute top-4 right-3.5 text-black pointer-events-none overflow-hidden" style="font-size: 1.5rem; vertical-align: -0.25em;">
                            <path fill-rule="evenodd" d="m8 10 3.5-4h-7z"></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex mb-2">
                  <div class="w-full mr-0" data-automation-id="fullName">
                    <label class="box-border text-[#2e2f32] mb-1" for="fullName"><span class="font-bold text-sm leading-5 text-[#2e2f32] mb-0 mt-0">Tên quý khách*</span></label>
                    <div class="bg-white rounded-md flex relative w-full" style="box-shadow: inset 0 0 0 0.0625rem #909196;"><input autocomplete="full-name" id="fullName" type="text" maxlength="25" name="fullName" required="" aria-required="true" class="text-base leading-6 p-4 appearance-none bg-transparent border-0 box-border text-gray-800 flex-grow font-normal m-0 min-w-0" value=""></div>
                  </div>
                </div>
                <span class="pt-2 leading-5 text-sm text-[#515357] items-center inline-flex font-normal">Xin vui lòng nhập tên của bạn để đăng ký hát Karaoke. Chúng tôi sẽ gọi tên bạn khi đến lượt.</span>
                <button class="mt-4 appearance-none px-6 text-base h-10 w-full bg-blue-600 text-white font-bold items-center border-0 rounded-full cursor-pointer inline-flex justify-center transition-all duration-100 ease-[cubic-bezier(0.77,0,0.175,1)] whitespace-nowrap" type="submit" form="edit-full-name-form">Lưu thông tin</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="fixed inset-0 bg-black bg-opacity-25"></div>
    </div>
    <div data-focus-guard="true" tabindex="0" style="width: 1px; height: 0px; padding: 0px; overflow: hidden; position: fixed; top: 1px; left: 1px;"></div>
  </div>
</div>
