<div class="bg-white fixed bottom-0 left-0 right-0 w-full flex flex-col border-t border-black border-opacity-10">
  <div class="z-max">
    <div class="flex h-[56px] items-center" id="navbar"></div>
  </div>
</div>

<script>
  $(document).ready(function() {
    const buttons = [
      {
        url: '/songs?event=replay',
        label: '',
        icon: `<span class="material-symbols-rounded flex items-center justify-center icon-default">west</span>`,
        iconAlt: `<span class="material-symbols-rounded flex items-center justify-center icon-active" style="color: #056449;">west</span>`,
      },
      {
        url: '/songs?event=next',
        label: '',
        icon: `<span class="material-symbols-rounded flex items-center justify-center icon-default">east</span>`,
        iconAlt: `<span class="material-symbols-rounded flex items-center justify-center icon-active" style="color: #056449;">east</span>`,
      },
      {
        url: '/songs?event=play',
        label: '',
        icon: `<span class="material-symbols-rounded flex items-center justify-center icon-active" style="font-size: 40px;">play_circle</span>`,
        iconAlt: `<span class="material-symbols-rounded flex items-center justify-center icon-active" style="font-size: 40px;color: #056449;">play_circle</span>`,
      },
      {
        url: '/songs?event=volume_down',
        label: '',
        icon: `<span class="material-symbols-rounded flex items-center justify-center icon-default">volume_down</span>`,
        iconAlt: `<span class="material-symbols-rounded flex items-center justify-center icon-active" style="color: #056449;">volume_down</span>`,
      },
      {
        url: '/songs?event=volume_up',
        label: '',
        icon: `<span class="material-symbols-rounded flex items-center justify-center icon-default">volume_up</span>`,
        iconAlt: `<span class="material-symbols-rounded flex items-center justify-center icon-active" style="color: #056449;">volume_up</span>`,
      },
    ];


    const urlParams = new URLSearchParams(window.location.search);
    const currentParam = urlParams.get('event');
    buttons.forEach(button => {
      const buttonEvent = button.url.split('=')[1];
      const isActive = currentParam === buttonEvent;
      $('#navbar').append(`
        <a href='${button.url}' class="flex flex-col items-center justify-center text-center flex-1 h-full ${isActive ? 'text-black' : 'text-icon'} gap-0">
          ${isActive ? button.iconAlt : button.icon}
          ${button.label ? `<span class="encore-text text-xs leading-4 font-bold" style="${isActive ? 'color: #056449;' : ''}">${button.label}</span>` : ''}
        </a>
      `);
    });
  });
</script>
<style>
  .material-symbols-rounded {
    font-size: 28px;
  }
  .icon-default {
    font-variation-settings: 'FILL' 1, 'wght' 700, 'opsz' 24;
  }
  .icon-active {
    font-variation-settings: 'FILL' 1, 'wght' 700, 'opsz' 24;
  }
  .text-icon {
    color: black;
  }
</style>
