<div class="bg-white fixed bottom-0 left-0 right-0 w-full flex flex-col border-t border-black border-opacity-10">
  <div class="z-max">
    <div class="flex h-[56px] items-center" id="navbar"></div>
  </div>
</div>

<script>
  $(document).ready(function() {
    const buttons = [
      {
        url: '/songs?play',
        label: 'Play',
        icon: `<span class="material-symbols-rounded flex items-center justify-center icon-default">play_circle</span>`,
        iconAlt: `<span class="material-symbols-rounded flex items-center justify-center icon-active" style="color: #056449;">play_circle</span>`,
      },
      {
        url: '/songs?volume_down',
        label: 'Vol Down',
        icon: `<span class="material-symbols-rounded flex items-center justify-center icon-default">volume_down</span>`,
        iconAlt: `<span class="material-symbols-rounded flex items-center justify-center icon-active" style="color: #056449;">volume_down</span>`,
      },
      {
        url: '/songs?next',
        label: 'Next',
        icon: `<span class="material-symbols-rounded flex items-center justify-center icon-default">skip_next</span>`,
        iconAlt: `<span class="material-symbols-rounded flex items-center justify-center icon-active" style="color: #056449;">skip_next</span>`,
      },
      {
        url: '/songs?volume_up',
        label: 'Vol Up',
        icon: `<span class="material-symbols-rounded flex items-center justify-center icon-default">volume_up</span>`,
        iconAlt: `<span class="material-symbols-rounded flex items-center justify-center icon-active" style="color: #056449;">volume_up</span>`,
      },
      {
        url: '/songs?settings',
        label: 'Settings',
        icon: `<span class="material-symbols-rounded flex items-center justify-center icon-default">settings</span>`,
        iconAlt: `<span class="material-symbols-rounded flex items-center justify-center icon-active" style="color: #056449;">settings</span>`,
      },
    ];


    const urlParams = new URLSearchParams(window.location.search);
    const currentParam = urlParams.get('play') || urlParams.get('volume_down') || urlParams.get('next') || urlParams.get('volume_up') || urlParams.get('settings');

    buttons.forEach(button => {
      const isActive = window.location.pathname === button.url && currentParam === button.url.split('?')[1];
      $('#navbar').append(`
        <a href='${button.url}' class="flex flex-col items-center justify-center text-center flex-1 h-full ${isActive ? 'text-black' : 'text-icon'} gap-0">
          ${isActive ? button.iconAlt : button.icon}
          ${button.label ? `<span class="encore-text text-marginal leading-normal font-bold" style="font-size:10px;${isActive ? 'color: #056449;' : ''}">${button.label}</span>` : ''}
        </a>
      `);
    });
  });
</script>
