<div class="m-0">
  <div class="rich-grid-renderer-header rich-grid-sticky-header">
    <ytm-feed-filter-chip-bar-renderer id="filter-chip-bar" class="chip-bar">
      <div class="chip-bar-contents" role="tablist">
        <ytm-chip-cloud-chip-renderer class="selected all-chip-renderer" aria-selected="true" chip-style="STYLE_HOME_FILTER" role="tab">
          <div class="chip-container" tabindex="1" aria-label="TẤT CẢ"><span class="chip-text modern"><span class="yt-core-attributed-string font-saomaiHeading font-bold" role="text">TẤT CẢ</span></span></div>
        </ytm-chip-cloud-chip-renderer>
        <ytm-chip-cloud-chip-renderer aria-selected="false" chip-style="STYLE_HOME_FILTER" role="tab">
          <div class="chip-container" tabindex="1" aria-label="KARAOKE"><span class="chip-text modern"><span class="yt-core-attributed-string font-saomaiHeading font-bold" role="text">BÀI CỦA BẠN</span></span></div>
        </ytm-chip-cloud-chip-renderer>
        <ytm-chip-cloud-chip-renderer aria-selected="false" chip-style="STYLE_HOME_FILTER" role="tab">
          <div class="chip-container" tabindex="1" aria-label="KARAOKE TONE NAME"><span class="chip-text modern"><span class="yt-core-attributed-string font-saomaiHeading font-bold" role="text">THẢ TIM</span></span></div>
        </ytm-chip-cloud-chip-renderer>
      </div>
    </ytm-feed-filter-chip-bar-renderer>
  </div>
</div>
