@charset "UTF-8";
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}
.chips:after,
.chips:before {
  bottom: 0;
  content: "";
  display: block;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 16px;
  z-index: 2;
}
.chips:before {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#181818),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(left, #181818, transparent);
  background-image: linear-gradient(90deg, #181818, transparent);
  left: 0;
}
