@charset "UTF-8";
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}
.chips:after,
.chips:before {
  bottom: 0;
  content: "";
  display: block;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 16px;
  z-index: 2;
}
.chips:before {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#181818),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(left, #181818, transparent);
  background-image: linear-gradient(90deg, #181818, transparent);
  left: 0;
}
.video-thumbnail-bg {
  background-color: rgba(0, 0, 0, 0.1);
}
.cbox,
.vbox,
.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
  margin: auto;
}
.badge {
  font-size: 12px;
  line-height: 18px;
  border-radius: 4px;
  padding: 1px 4px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
}
.video-thumbnail-container-large::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
img {
  min-width: 1px;
  min-height: 1px;
  -webkit-filter: none;
  filter: none;
}
.YtProfileIconImage {
  width: 100%;
  height: 100%;
}
.YtProfileIconHost:has(.YtProfileIconImage) {
  background-color: unset;
}
.channel-thumbnail-icon {
  width: 40px;
  height: 40px;
}
.YtProfileIconHost {
  display: inline-block;
  overflow: hidden;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
}
ytm-profile-icon:has(img) {
  background-color: unset;
}
ytm-profile-icon {
  display: inline-block;
  overflow: hidden;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
}
.media-item-metadata {
  margin-top: 8px;
}
.media-item-metadata {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-width: 0;
}
.media-item-menu {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.icon-button {
  border: none;
  background: transparent;
  width: 40px;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
}
c3-icon {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  fill: currentColor;
  stroke: none;
}
.yt-spec-icon-shape {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.media-item-info {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  margin-left: 12px;
}
.media-item-info,
ytm-media-item .details {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  min-width: 0;
}
.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin-top: 4px;
  margin-bottom: 16px;
  margin-left: 12px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  min-width: 0;
}
.media-channel {
  margin-top: 8px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.rich-grid-sticky-header {
  width: 100%;
  margin-bottom: 50px;
}
.rich-grid-sticky-header ytm-feed-filter-chip-bar-renderer {
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  z-index: 3;
  width: 100%;
}
ytm-feed-filter-chip-bar-renderer.chip-bar {
  display: flex;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.chip-bar-contents {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: 48px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.chip-bar-contents > * {
  display: inline-block;
  vertical-align: text-top;
}
ytm-chip-cloud-chip-renderer:first-of-type {
  margin-left: 12px;
}
ytm-chip-cloud-chip-renderer {
  margin-right: 12px;
  padding: 8px 0;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  user-select: none;
}
[chip-style="STYLE_EXPLORE_LAUNCHER_CHIP"].more-drawer .chip-container {
  padding: 0;
  min-width: 32px;
}
[chip-style="STYLE_EXPLORE_LAUNCHER_CHIP"] .chip-container {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 9999px;
  border: 0;
  padding: 0 12px 0 6px;
}
.chip-container {
  height: 32px;
  min-width: 48px;
  text-align: center;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 9999px;
  border: 0;
}
[chip-style="STYLE_EXPLORE_LAUNCHER_CHIP"].more-drawer
  .chip-container
  > c3-icon {
  padding-right: 0;
}
[chip-style="STYLE_EXPLORE_LAUNCHER_CHIP"] .chip-container > c3-icon {
  padding-right: 4px;
}
c3-icon {
  display: inline-flex;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  fill: currentColor;
}
c3-icon svg {
  width: 100%;
  height: 100%;
}
ytm-chip-divider-renderer {
  margin: 8px 12px 0 0;
  height: 32px;
  width: 0;
}
[chip-style*="STYLE_"] .chip-container {
  background-color: rgba(0, 0, 0, 0.05);
  color: #0f0f0f;
  transition: background-color 0.5s cubic-bezier(0.05, 0, 0, 1);
}
[chip-style*="STYLE_"].selected .chip-container {
  background-color: #606060;
  color: #fff;
}
.chip-text.modern {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.chip-text {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mobile-topbar-header[data-mode="searching"] {
  background-color: #fff;
}
.mobile-topbar-header[data-mode="searching"] {
  z-index: 4;
  background-color: #fff;
}
.mobile-topbar-header {
  position: relative;
  z-index: 3;
  box-shadow: none;
}
header {
  height: 48px;
}
.mobile-topbar-back-arrow {
  color: #606060;
  padding: 12px;
  display: flex;
}
button,
select,
[role="button"],
input[type="checkbox"] {
  cursor: pointer;
}
button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  text-transform: inherit;
  color: inherit;
  background: transparent;
}
ytm-mobile-topbar-renderer c3-icon {
  display: block;
}
.YtSearchboxComponentHost {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: relative;
  margin: 0 0 0 40px;
  padding: 0 4px;
  height: 40px;
  color: #0f0f0f;
}
.YtSearchboxComponentMweb {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin: 0;
  padding: 0;
  height: 32px;
}
.YtSearchboxComponentMweb .YtSearchboxComponentInputBox {
  margin: 0;
  border-radius: 32px 0 0 32px;
  border-right: 0;
  background-color: rgba(0, 0, 0, 0.05);
  border: 0;
  padding: 0 48px 0 12px;
  box-shadow: none;
}
.YtSearchboxComponentInputBox {
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  border: 1px solid;
  border-color: #c6c6c6;
  border-right: 0;
  background-color: #fff;
  box-shadow: inset 0 1px 2px #eee;
  border-radius: 40px 0 0 40px;
  margin-left: 32px;
  padding: 0 4px 0 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.YtSearchboxComponentSearchForm {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
form {
  margin: 0;
}
.YtSearchboxComponentMweb .YtSearchboxComponentInput {
  margin: 0;
  padding: 0;
  font-size: 16px;
  unicode-bidi: plaintext;
  -webkit-font-smoothing: auto;
}
.YtSearchboxComponentInput {
  padding: 1px 0;
  margin: 0;
  width: 100%;
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: inherit;
  outline: none;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
.title {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}
input {
  border-bottom: 1px solid #737373;
  text-overflow: ellipsis;
}
input,
textarea {
  background-color: transparent;
  padding-bottom: 4px;
  outline: none;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  margin-bottom: 1px;
  font: inherit;
  color: #0f0f0f;
}
.YtSearchboxComponentSearchButton {
  border: 1px solid #d3d3d3;
  background-color: #f8f8f8;
  width: 64px;
  border-radius: 0 40px 40px 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: inherit;
}
.YtSearchboxComponentMweb .YtSearchboxComponentSearchButton {
  border: 0;
  background-color: rgba(0, 0, 0, 0.05);
  width: unset;
  display: flex;
  align-items: center;
  border-radius: 0 32px 32px 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  cursor: pointer;
  padding-right: 8px;
  margin-right: 8px;
}
ytm-mobile-topbar-renderer c3-icon {
  display: block;
}
.YtSearchboxComponentMweb .YtSearchboxComponentVoiceSearchWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 32px;
  width: 32px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 32px;
  margin-right: 12px;
  margin-left: 4px;
}
.YtSearchboxComponentVoiceSearchWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--text {
  color: #0f0f0f /*! rtl:ignore */;
}
.yt-spec-button-shape-next {
  position: relative;
  margin: 0;
  white-space: nowrap;
  min-width: 0;
  text-transform: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  border: none;
  cursor: pointer;
  outline-width: 0;
  box-sizing: border-box;
  background: none;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  -webkit-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.yt-spec-button-shape-next--size-m {
  padding: 0 16px;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  border-radius: 18px;
}
.yt-spec-button-shape-next--icon-only-default {
  min-width: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
}
ytm-button-renderer button {
  width: 100%;
}
.yt-spec-button-shape-next--size-m .yt-spec-button-shape-next__icon {
  width: 24px;
  height: 24px;
}
.yt-spec-button-shape-next__icon {
  line-height: 0;
  fill: currentColor;
}
.yt-spec-touch-feedback-shape {
  display: inline-block;
  border-radius: inherit;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.yt-spec-touch-feedback-shape--touch-response
  .yt-spec-touch-feedback-shape__stroke {
  border: 1px solid #000;
}
.yt-spec-touch-feedback-shape__stroke {
  will-change: opacity;
  opacity: 0;
  border-radius: inherit;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.yt-spec-touch-feedback-shape--touch-response
  .yt-spec-touch-feedback-shape__fill {
  background-color: #000;
}
.yt-spec-touch-feedback-shape__fill {
  will-change: opacity;
  opacity: 0;
  border-radius: inherit;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
ytm-mobile-topbar-renderer {
  display: block;
  padding: 0;
}
ytm-mobile-topbar-renderer.sticky-player,
ytm-header.sticky-player,
ytm-header-bar.sticky-player,
ytm-mobile-topbar-renderer.shorts-topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  padding: 0;
}
ytm-mobile-topbar-renderer:not([ambient-topbar]) {
  background-color: #fff;
}
