@font-face {
  font-family: "ui-icons";
  src: url("/assets/fonts/ui-icons.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "saomai";
  src: url("/assets/fonts/CircularSp-Book.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "saomai";
  src: url("/assets/fonts/CircularSp-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "saomaiHeading";
  src: url("/assets/fonts/CircularSpTitle-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
