*,
*::before,
*::after {
  box-sizing: border-box;
}
.default-ltr-cache-bb2aon * {
  box-sizing: border-box;
}
.default-ltr-cache-4ztd1d {
  filter: none;
}
.default-ltr-cache-rloyte {
  background-color: rgba(255, 255, 255, 0.15);
  position: relative;
  border-radius: 12px 12px 8px 8px;
}
.default-ltr-cache-rloyte::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  mask-composite: exclude;
  z-index: 100;
  pointer-events: none;
}
.default-ltr-cache-josj09 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.default-ltr-cache-1uvi23e {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.default-ltr-cache-19d7fqb {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 1;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.default-ltr-cache-vglbum {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.008333) 54.17%,
    rgba(0, 0, 0, 0.03333) 58.33%,
    rgba(0, 0, 0, 0.075) 62.5%,
    rgba(0, 0, 0, 0.1333) 66.67%,
    rgba(0, 0, 0, 0.2083) 70.83%,
    rgba(0, 0, 0, 0.3) 75%,
    rgba(0, 0, 0, 0.3917) 79.17%,
    rgba(0, 0, 0, 0.4667) 83.33%,
    rgba(0, 0, 0, 0.525) 87.5%,
    rgba(0, 0, 0, 0.5667) 91.67%,
    rgba(0, 0, 0, 0.5917) 95.83%,
    rgba(0, 0, 0, 0.6) 100%
  );
}
.default-ltr-cache-4c5682 {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 120rem;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  min-height: 18.75rem;
}
@supports (aspect-ratio: 16/9) {
  .default-ltr-cache-4c5682 {
    min-height: initial;
  }
}
@supports (aspect-ratio: 16/9) {
  .default-ltr-cache-4c5682 {
    aspect-ratio: 16 / 9;
  }
}
.default-ltr-cache-15g54dn {
  display: flex;
  justify-content: space-between;
  margin: 0 0.75rem 1.25rem;
  flex-direction: column;
  align-items: center;
}
.default-ltr-cache-1b4a1ef {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: end;
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s;
}
.default-ltr-cache-eebncd {
  direction: ltr;
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.default-ltr-cache-2rfcwr {
  direction: ltr;
  flex-wrap: wrap;
  display: flex;
  gap: 0.5rem;
}
.default-ltr-cache-ye6lrm-PressableButton-StyledPressable-StyledPressable {
  appearance: none;
  font: inherit;
  margin: 0;
  text-decoration: none;
  align-items: center;
  border: 1px solid dimgray;
  box-sizing: border-box;
  display: inline-flex;
  font-size: 13px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: normal;
  line-height: 1;
  padding: 2px 7px;
  user-select: none;
  border-radius: 1.25rem;
  cursor: pointer;
  fill: currentColor;
  position: relative;
  transition-duration: 250ms;
  transition-property: background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.68, 0.06);
  vertical-align: text-top;
  border-style: solid;
  border-width: 0.0625rem;
  width: 2.5rem;
  height: 2.5rem;
  background: rgba(22, 22, 22, 0.7);
  color: rgb(255, 255, 255);
  border-color: rgba(128, 128, 128, 0.7);
}
@media screen and (prefers-reduced-motion) {
  .default-ltr-cache-ye6lrm-PressableButton-StyledPressable-StyledPressable {
    -webkit-transition: none;
    transition: none;
  }
}
.default-ltr-cache-mzvhg6 {
  display: inline-block;
  height: 1.5rem;
}
.default-ltr-cache-mzvhg6 > svg {
  height: inherit;
  width: 1.5rem;
}
.nfp-popup-control {
  box-sizing: border-box;
  display: flex;
  position: relative;
}
.touchable {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: none;
}
.nfp-popup-control .popup-content-wrapper {
  bottom: 3.5em;
  margin: -0.5em;
  opacity: 0;
  padding: 0.5em;
  pointer-events: none;
  position: absolute;
  right: 0.5em /*!rtl:ignore*/;
  transform: scale(0.95) translateZ(0);
  transition: opacity 0.16s ease, transform 0.2s ease,
    visibility 0s linear 0.16s;
  visibility: hidden;
  will-change: transform, opacity;
}
.nfp-popup-control
  .popup-content-wrapper.popup-content-wrapper--centered-content {
  left: auto;
  right: 0;
  width: 100%;
}
.nfp-popup-control .popup-content-wrapper.active {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  transition-delay: 0s;
  visibility: visible;
  z-index: 1;
}
.nfp-popup-control .popup-content {
  background: #262626;
  border-radius: 0.3em;
  font-size: 0.8em;
  overflow: hidden;
}
.nfp .volume-controller {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
}
.nfp .volume-controller.popup-content {
  background: transparent;
}
.nfp-popup-control
  .popup-content-wrapper.popup-content-wrapper--centered-content
  .popup-content {
  margin: 0 auto;
}
.nfp .volume-controller .slider-container {
  align-content: center;
  align-items: center;
  background: #262626;
  border-radius: 0.3em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 8em;
  padding: 1em 0;
  transition: opacity 0.3s ease;
  width: 1.5em;
}
.nfp .volume-controller .slider-bar-container {
  background: #5b5b5b;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  width: 0.4em;
}
.nfp .volume-controller .slider-bar-percentage {
  background: #e50914;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}
.nfp .volume-controller .scrubber-target {
  height: 1em;
  left: 50%;
  margin: -0.5em;
  position: absolute;
  transform: scale(1);
  transition: transform 0.2s ease;
  width: 1em;
}
.nfp .volume-controller .scrubber-head {
  background: #e50914;
  border-radius: 50%;
  height: 100%;
  position: absolute;
  width: 100%;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
