<!DOCTYPE html>
<html lang="{{ site.lang | default: 'vi' }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Favicon Links -->
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/favicon/favicon-48x48.png" sizes="48x48" />
  <link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}/assets/favicon/favicon.svg" />
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/favicon/apple-touch-icon.png" />
  
  <!-- Apple Mobile Web App -->
  <meta name="apple-mobile-web-app-title" content="Sao Mai" />
  <link rel="manifest" href="{{ site.baseurl }}/assets/favicon/site.webmanifest" />
  
  <!-- SEO and Meta Info -->
  <meta name="theme-color" content="#ffffff">
  <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
  
  <!-- Canonical and Hreflang -->
  <link rel="alternate" href="{{ page.url | prepend: site.baseurl }}" hreflang="{{ page.lang | default: 'vi' }}">
  <link rel="canonical" href="{{ page.url | prepend: site.baseurl }}">
  
  <!-- Title and Description -->
  <title>{{ page.title | default: site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description }}">

  <!-- Open Graph / Social Meta -->
  <meta property="og:locale" content="{{ site.locale | default: 'vi_VN' }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page.title | default: site.title }}">
  <meta property="og:description" content="{{ page.description | default: site.description }}">
  <meta property="og:url" content="{{ page.url | prepend: site.baseurl }}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="article:modified_time" content="{{ page.date | date_to_xmlschema }}">  
  <meta name="twitter:card" content="summary_large_image">

  <!-- CSS and Scripts -->
  <style>
    @font-face {
      font-family: saomai;
      font-style: normal;
      font-display: swap;
      src: url({{ site.baseurl }}/assets/fonts/SpotifyMixUI-Regular.woff2) format("woff2");
      font-weight: 400;
    }
    @font-face {
      font-family: saomai;
      font-style: normal;
      font-display: swap;
      src: url({{ site.baseurl }}/assets/fonts/SpotifyMixUI-Bold.woff2) format("woff2");
      font-weight: 700;
    }
    @font-face {
      font-display: swap;
      font-family: ui-icons;
      src: url({{ site.baseurl }}/assets/fonts/ui-icons.woff2) format("woff2");
    }
  </style>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css">
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            pink: "#EF7C8E",
          },
          lineHeight: {
            'normal': 'normal',
          },
          fontSize: {
            '10px': '10px',
          },
          fontFamily: {
            cursive: ['"Imperial Script", cursive'],
          }
        },
      },
    };
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
</head>

<body>
  <div id="__next">
    <div data-testid="layout-container" class="flex flex-col min-h-screen shadow-lg transition-transform duration-200" style="transform: none;">
      <span data-pcss-show="true" data-testid="global-header" class="sticky bg-secondary w-100 top-0 z-1" style="transition:top 0.65s;background-color: #c00;">
        <a link-identifier="Generic Name" class="o-0 absolute" tabindex="-1"></a>
        <a link-identifier="Generic Name" class="slider skip-main bg-white-90" href="#maincontent">Skip to Main Content</a>
        {% include header.html %}
        {% include navigation.html %}
      </span>
      <div class="flex flex-column flex-auto relative z-0" aria-hidden="false">
        <div class="flex-auto relative z-1" data-testid="main-content-container">
          <div class="main-content mw1280 center" id="maincontent" data-testid="maincontent">
            {{ content }}
          </div>
        </div>
        <span>
          {% include footer.html %}
        </span>
      </div>
    </div>
  </div>
</body>

</html>
